[flake8]
max-line-length = 95
ignore =
    E116,
    E241,
    E251,
    E741,
    W503,
    W504,
    I101,
    SIM102,
    SIM103,
    SIM105,
    SIM114,
    SIM115,
    SIM117,
    SIM223,
    SIM401,
    SIM907,
exclude =
    .git,
    .tox,
    .venv,
    tests/roots/*,
    build/*,
    doc/_build/*,
    sphinx/search/*,
    doc/usage/extensions/example*.py,
per-file-ignores =
    tests/*: E501
    sphinx/util/jsdump.py: SIM905
