[flake8]
max-line-length = 95
ignore =
    E116,
    E203,
    E241,
    E251,
    E501,
    E741,
    W503,
    W504,
    I101,
    SIM102,
    SIM103,
    SIM105,
    SIM114,
    SIM115,
    SIM117,
    SIM223,
    SIM401,
    SIM907,
    SIM910,
exclude =
    .git,
    .tox,
    .venv,
    venv,
    node_modules/*,
    tests/roots/*,
    build/*,
    doc/_build/*,
    sphinx/search/*,
    doc/usage/extensions/example*.py,
per-file-ignores =
    doc/conf.py:W605
    sphinx/events.py:E704,
    tests/test_extensions/ext_napoleon_pep526_data_google.py:MLL001,
    tests/test_extensions/ext_napoleon_pep526_data_numpy.py:MLL001,
