# -*- coding: utf-8 -*-
# See https://git-scm.com/docs/gitmailmap
# Currently unused by GitHub; but useful to maintain a record

# Aaron Carlisle (https://github.com/Blendify)
Aaron Carlisle <carlisle.aaron00@gmail.com> <carlisle.b3d@gmail.com>
Aaron Carlisle <carlisle.aaron00@gmail.com> <Blendify@users.noreply.github.com>

# Adam Turner (https://github.com/AA-Turner)
Adam Turner <9087854+AA-Turner@users.noreply.github.com> <9087854+aa-turner@users.noreply.github.com>
Adam Turner <9087854+AA-Turner@users.noreply.github.com> <AA-Turner@users.noreply.github.com>

Akihiro Uchida <uchida@ike-dyn.ritsumei.ac.jp> <uchida@turbare.net>

Andrew M. Kuchling <amk@amk.ca> <devnull@localhost>

Bénédikt Tran <10796600+picnixz@users.noreply.github.com>

# Chris (https://github.com/percious)
Chris Perkins <chris@percious.com>

Chris Lamb <lamby@debian.org> <chris@chris-lamb.co.uk>

# Christian Clauss (https://github.com/cclauss)
Christian Clauss <cclauss@me.com> <cclauss@bluewin.ch>

# Daniel Eades (https://github.com/danieleades)
Daniel Eades <danieleades@hotmail.com>
Daniel Eades <danieleades@hotmail.com> <daniel.eades@hotmail.com>
Daniel Eades <danieleades@hotmail.com> <33452915+danieleades@users.noreply.github.com>
Daniel Eades <danieleades@hotmail.com> <daniel.eades@seebyte.com>

# Daniel Hahler (https://github.com/blueyed)
Daniel Hahler <git@thequod.de> <github@thequod.de>

# Daniel Neuhäuser (https://github.com/DasIch)
Daniel Neuhäuser <dasdasich@gmail.com> <ich@danielneuhaeuser.de>

David Ham <David.Ham@imperial.ac.uk> <David,Ham@imperial.ac.uk>

# Dimitri Papadopoulos Orfanos (https://github.com/DimitriPapadopoulos)
Dimitri Papadopoulos Orfanos <3234522+DimitriPapadopoulos@users.noreply.github.com>

# Dmitry Shachnev (https://github.com/mitya57)
Dmitry Shachnev <mitya57@users.noreply.github.com> <mitya57@gmail.com>

Erik M. Bray <erik.bray@lri.fr>
Erik M. Bray <erik.bray@lri.fr> <embray@stsci.edu>

Eric Holscher <eric@ericholscher.com> <25510+ericholscher@users.noreply.github.com>

Eric Larson <larson.eric.d@gmail.com>

# Eric Knibbe (https://github.com/EricFromCanada)
Eric Knibbe <eric3knibbe@gmail.com>
Eric Knibbe <eric3knibbe@gmail.com> <eric@lassosoft.com>

# Georg Brandl (https://github.com/birkenfeld)

# Hugo van Kemenade (https://github.com/hugovk)
Hugo van Kemenade <hugovk@users.noreply.github.com>
Hugo van Kemenade <hugovk@users.noreply.github.com> <1324225+hugovk@users.noreply.github.com>
# Ignacio Fdez. Galván (https://github.com/Jellby)
Ignacio Fdez. Galván <jellby@yahoo.com>

# Jacob Mason (https://github.com/jacobmason)
Jacob Mason <jacoblmason@gmail.com>
Jacob Mason <jacoblmason@gmail.com> <jacob@panda>
Jacob Mason <jacoblmason@gmail.com> <jacob@panther>

# Jakob Lykke Andersen (https://github.com/jakobandersen)
Jakob Lykke Andersen <Jakob@caput.dk> <jakobandersen@users.noreply.github.com>
Jakob Lykke Andersen <Jakob@caput.dk> <jakob@caput.dk>

Jakub Wilk <jwilk@jwilk.net> <jwilk@debian.org>

James Hilton-Balfe <gobot1234yt@gmail.com> <50501825+Gobot1234@users.noreply.github.com>

# Jean-François B. (https://github.com/jfbu)
Jean-François B. <jfbu@users.noreply.github.com>
Jean-François B. <jfbu@users.noreply.github.com> <jfbu@users.noreply.github>
Jean-François B. <jfbu@users.noreply.github.com> <2589111+jfbu@users.noreply.github.com>

Jean Abou-Samra <jean@abou-samra.fr>

# Jeremy Maitin-Shepard (https://github.com/jbms)
Jeremy Maitin-Shepard <jbms@google.com> <jeremy@jeremyms.com>

# Jon Dufresne (https://github.com/jdufresne)

# Juan Luis Cano Rodríguez (https://github.com/astrojuanlu)
Juan Luis Cano Rodríguez <juanlu@readthedocs.org> <hello@juanlu.space>

Justin Mathews <justin.mathews@isara.com> <jamathews@users.noreply.github.com>

# Justus Magin (https://github.com/keewis)
Justus Magin <keewis@posteo.de>

# KINEBUCHI Tomohiko (https://github.com/cocoatomo)
KINEBUCHI Tomohiko <cocoatomo77@gmail.com>

Latosha Maltba <79100569+latosha-maltba@users.noreply.github.com>

# Louis Maddox (https://github.com/lmmx)
Louis Maddox <louismmx@gmail.com> <lmmx@users.noreply.github.com>

Mark Summerfield <mark.summerfield@localhost>

# Martin Liška (https://github.com/marxin)
Martin Liška <mliska@suse.cz>

Matt Warrick <matt@documatt.com>

# Matthias Geier (https://github.com/mgeier)

# Nils K (https://github.com/septatrix)
Nils Kattenbeck <nilskemail@gmail.com> <24257556+Septatrix@users.noreply.github.com>

Oleg Hoefling <oleg.hoefling@gmail.com>

# Paweł Budzyński (https://github.com/pbudzyns)
Paweł Budzyński <pawel.budzynski@cern.ch>
Paweł Budzyński <pawel.budzynski19+git@gmail.com>

Pradyun Gedam <pradyunsg@users.noreply.github.com>
Pradyun Gedam <pradyunsg@users.noreply.github.com> <pradyunsg@gmail.com>
Pradyun Gedam <pradyunsg@users.noreply.github.com> <3275593+pradyunsg@users.noreply.github.com>

# Robert Lehmann (https://github.com/lehmannro)
Rob Ruana <rob@robruana.com> <rob@relentlessidiot.com>
Rob Ruana <rob@robruana.com> <robruana@magfest.org>

Santos Gallegos <stsewd@protonmail.com> <santos_g@outlook.com>

Seth Girvin <sethg@geographika.co.uk>

# Shirou WAKAYAMA (https://github.com/shirou)
Shirou WAKAYAMA <shirou.faw@gmail.com>

# Stephen Finucane (https://github.com/stephenfin)

# Takayuki SHIMIZUKAWA  (https://github.com/shimizukawa)
Takayuki SHIMIZUKAWA <shimizukawa@gmail.com>

# Takeshi KOMIYA (https://github.com/tk0miya)
Takeshi KOMIYA <i.tkomiya@gmail.com>
Takeshi KOMIYA <i.tkomiya@gmail.com> <tk0miya@users.noreply.github.com>

# Timotheus Kampik (https://github.com/TimKam)
Timotheus Kampik <timotheus.kampik@gmail.com> <timotheus.kampik@signavio.com>

# Tim Hoffmann (https://github.com/timhoffm)

Thomas Kluyver <thomas@kluyver.me.uk> <takowl@gmail.com>

# Wout de Nolf (https://github.com/woutdenolf)
Wout de Nolf <woutdenolf@users.sf.net>

# Yoshiki Shibukawa (https://github.com/shibukawa)
Yoshiki Shibukawa <yoshiki@shibu.jp> <shibukawa.yoshiki@dena.jp>
Yoshiki Shibukawa <yoshiki@shibu.jp> <yoshiki at shibu.jp>

Zack Cerza <zack@cerza.org> <zack@redhat.com>
