# How setup this file
# http://babel.edgewall.org/wiki/Documentation/setup.html
# this file description:
# http://babel.edgewall.org/wiki/Documentation/messages.html#extraction-method-mapping-and-configuration

# Extraction from Python source files
[python: **.py]
encoding = utf-8

# Extraction from Jinja2 HTML templates
[jinja2: **/themes/**.html]
encoding = utf-8
ignore_tags = script,style
include_attrs = alt title summary

# Extraction from Jinja2 XML templates
[jinja2: **/themes/**.xml]

# Extraction from JavaScript files
[javascript: **.js]
[javascript: **.js_t]
