include README
include LICENSE
include AUTHORS
include CHANGES
include EXAMPLES
include TODO

include babel.cfg
include Makefile
include ez_setup.py
include sphinx-autogen.py
include sphinx-build.py
include sphinx-quickstart.py

recursive-include sphinx/texinputs *
recursive-include sphinx/themes *
recursive-include sphinx/locale *
recursive-include sphinx/ext/autosummary/templates *
recursive-include tests *
recursive-include utils *
include sphinx/pycode/Grammar.txt

recursive-include doc *
prune doc/_build
