{% if theme_is_rtl|tobool %}

/* Core RTL overrides for Agogo theme */
body {
    direction: rtl !important;
    text-align: right !important;
}

/* Header adjustments */
div.header .headertitle {
    text-align: right !important;
    letter-spacing: 0 !important;
}

div.header div.rel {
    direction: rtl !important;
}

p.logo {
    float: left !important;
}

/* Content layout */
div.document {
    float: right !important;
}

div.body {
    {%- if theme_rightsidebar|tobool %}
    padding-left: 2em !important;
    padding-right: 0 !important;
    {%- else %}
    padding-right: 2em !important;
    padding-left: 0 !important;
    {% endif %}
}

/* Sidebar positioning */
div.sidebar,
aside.sidebar {
    {%- if theme_rightsidebar|tobool %}
    float: left !important;
    {%- else %}
    float: right !important;
    {% endif %}
}

/* Lists and margins */
div.document ul {
    margin-right: 1.5em !important;
    margin-left: 0 !important;
}

div.document dd {
    margin-right: 1.2em !important;
    margin-left: 0 !important;
}

/* Admonitions */
div.admonition {
    border-right: 0.2em solid black !important;
    border-left: none !important;
    padding: 2px 7px 1px 7px !important;
}

/* Search elements */
ul.search {
    margin: 10px 20px 0 0 !important;
}

ul.search li {
    padding: 5px 20px 5px 0 !important;
    background-position: right 7px !important;
}

/* Table alignments */
table.indextable td {
    text-align: right !important;
}

/* Footer adjustments */
div.footer .right {
    text-align: left !important;
}

div.footer .left {
    text-align: right !important;
}

/* Code blocks - keep LTR */
div.highlight pre {
    direction: ltr !important;
    text-align: left !important;
}

/* Header links */
a.headerlink {
    padding-right: .3em !important;
    padding-left: 0 !important;
}

/* Sidebar list adjustments */
div.sidebar li.toctree-l1 a,
aside.sidebar li.toctree-l1 a {
    padding-right: 3px !important;
    padding-left: 0 !important;
}

div.sidebar li.toctree-l2 a,
aside.sidebar li.toctree-l2 a {
    margin-right: 1em !important;
    margin-left: 0 !important;
}

div.sidebar li.toctree-l3 a,
aside.sidebar li.toctree-l3 a {
    margin-right: 2em !important;
    margin-left: 0 !important;
}

/* Float adjustments */
.left {
    float: right !important;
}

.right {
    float: left !important;
}

/* Image alignments */
img.align-left, .figure.align-left, object.align-left {
    float: right !important;
    margin-left: 1em !important;
    margin-right: 0 !important;
}

img.align-right, .figure.align-right, object.align-right {
    float: left !important;
    margin-right: 1em !important;
    margin-left: 0 !important;
}

/* Viewcode extension */
.viewcode-link, .viewcode-back {
    float: left !important;
}

/* Equation numbers */
span.eqno {
    float: left !important;
}
{% endif %}