name: Render documentation

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1"
  UV_VERSION: 0.5.14  # Pin the version of UV

jobs:
  verbose:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false
    - name: Install graphviz
      run: sudo apt-get install --no-install-recommends --yes graphviz
    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        version: ${{ env.UV_VERSION }}
        enable-cache: false
    - name: Render the documentation
      run: >
        uv run
        sphinx-build
        -M html ./doc ./build/sphinx
        --verbose
        --jobs=auto
        --show-traceback
        --fail-on-warning
