name: Lint the format of document

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
    - name: Install dependencies
      run:  pip install -U tox
    - name: Run Tox
      run:  tox -e docslint
