name: Lint source code

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1"
  UV_VERSION: 0.5.14  # Pin the version of UV

jobs:
  # If you update any of these commands, don't forget to update the equivalent
  # tox environment
  ruff:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false
    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        version: ${{ env.UV_VERSION }}
        enable-cache: false
    - name: Lint with Ruff
      run: uv run ruff check --output-format=github
    - name: Format with Ruff
      run: uv run ruff format --diff

  mypy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false
    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        version: ${{ env.UV_VERSION }}
        enable-cache: false
    - name: Type check with mypy
      run: uv run mypy

  # pyright:
  #   runs-on: ubuntu-latest

  #   steps:
  #   - uses: actions/checkout@v4
  #     with:
  #       persist-credentials: false
  #   - name: Set up Python
  #     uses: actions/setup-python@v5
  #     with:
  #       python-version: "3"
  #   - name: Install uv
  #     uses: astral-sh/setup-uv@v5
  #     with:
  #       version: ${{ env.UV_VERSION }}
  #       enable-cache: false
  #   - name: Install dependencies
  #     run: uv pip install ".[lint,test]"
  #   - name: Type check with pyright
  #     run: pyright

  # docs-lint:
  #   runs-on: ubuntu-latest

  #   steps:
  #   - uses: actions/checkout@v4
  #     with:
  #       persist-credentials: false
  #   - name: Set up Python
  #     uses: actions/setup-python@v5
  #     with:
  #       python-version: "3"
  #   - name: Install uv
  #     uses: astral-sh/setup-uv@v5
  #     with:
  #       version: latest
  #       enable-cache: false
  #   - name: Install dependencies
  #     run: uv pip install --upgrade sphinx-lint
  #   - name: Lint documentation with sphinx-lint
  #     run: make doclinter

  # twine:
  #   runs-on: ubuntu-latest

  #   steps:
  #   - uses: actions/checkout@v4
  #     with:
  #       persist-credentials: false
  #   - name: Set up Python
  #     uses: actions/setup-python@v5
  #     with:
  #       python-version: "3"
  #   - name: Install uv
  #     uses: astral-sh/setup-uv@v5
  #     with:
  #       version: latest
  #       enable-cache: false
  #   - name: Install dependencies
  #     run: uv pip install --upgrade twine build
  #   - name: Lint with twine
  #     run: |
  #       python -m build .
  #       twine check dist/*
